<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLLevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/images/logo-duoc.png" alt="LogoDuoc">

  <div class="log">
    <ion-item class="item">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input class="input"></ion-input>
    </ion-item>


    <ion-item class="item">
      <ion-label position="floating" >Contraseña</ion-label>
      <ion-input class="input" type="password"></ion-input>
    </ion-item>
    <ion-button >Ingresar</ion-button>
  </div>
</ion-content>
